@charset "UTF-8";


@font-face {
    font-family: "adobeheitistd-regular";
    src: url("../font/adobeheitistd-regular.woff") format("woff"), url("../font/adobeheitistd-regular.ttf") format("truetype"), url("../font/adobeheitistd-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSansHans-Regular";
    src: url("../font/NotoSansHans-Regular.woff") format("woff"), url("../font/NotoSansHans-Regular.ttf") format("truetype"), url("../font/NotoSansHans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
