body.swiper-demo {
  #swiper-container {
    background-color: #ffffff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    .swiper-wrapper {
      margin-left: 1%;

      .swiper-slide {
        .link-item {
          width: 100%;
          margin-left: 5%;
          margin-right: 5%;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          border-radius: 0.1rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 1.8rem;
          }

          .text {
            font-size: 0.22rem;
            -webkit-text-fill-color: #ce0814;
            color: #ce0814;
            padding-top: 0.1rem;
            padding-bottom: 0.08rem;
          }

          .cancel-text {
            font-size: 0.197rem;
            -webkit-text-fill-color: #919191;
            color: #919191;
            text-decoration: line-through;
            padding-bottom: 0.1rem;
          }
        }
      }
    }
  }
}
.pc {
  #bus-swiper-container {
    background-color: $black-3;
    position: absolute;
    right: -120px;
    bottom: 0px;
    width: calc(100% - 180px);
    .swiper-wrapper {
      position: relative;
      margin-bottom: 65px;
      margin-left: 1px;

      .swiper-slide {
        .link-item {
          width: 215px;
          margin-left: 5px;
          margin-right: 15px;
          //   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          //   border-radius: 0.1rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 290px;
          }

          .text {
            width: 100%;
            font-size: 12px;
            -webkit-text-fill-color: $black-1;
            color: $black-1;
            text-align: center;
            background-color: $white;
            padding-top: 20px;
            padding-bottom: 25px;
          }
        }
      }
    }
    .swiper-button-next {
      position: absolute;
      bottom: 0;
      top: auto;
      left: 80px;

      &::after {
        content: "";
        position: absolute;
        // bottom: 0;
        height: 8px;
        width: 20px;
        background: url(../image/gongsijieshao/arr_right.png) no-repeat;
        background-size: contain;
      }
    }
    .swiper-button-prev {
      position: absolute;
      bottom: 0;
      top: auto;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 8px;
        background: url(../image/gongsijieshao/arr_left.png) left no-repeat;
        width: 20px;
        background-size: contain;
      }
    }
  }
  .swiper-group {
    .swiper-button-next {
      position: absolute;
      top: 90px;
      right: 0;

      &::after {
        content: "";
        position: absolute;
        // bottom: 0;
        height: 8px;
        width: 20px;
        background: url(../image/gongsijieshao/w_arr_right.png) no-repeat;
        background-size: contain;
      }
    }
    .swiper-button-prev {
      position: absolute;
      top: 90px;
      left: auto;
      right: 50px;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 8px;
        background: url(../image/gongsijieshao/w_arr_left.png) left no-repeat;
        width: 20px;
        background-size: contain;
      }
    }
    #centification-swiper-container {
      background-color: transparent;
      .swiper-wrapper {
        position: relative;
        .swiper-slide {
          .link-item {
            width: 145px;
            height: 200px;
            margin-left: 5px;
            margin-right: 15px;
            display: block;
            //   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            //   border-radius: 0.1rem;
            overflow: hidden;
            background: url(../image/gongsijieshao/centification.png) center
              no-repeat;
            background-size: cover;
            &:hover {
              background: url(../image/gongsijieshao/hover.png) center no-repeat;
              background-size: cover;
            }
            img {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
  }
}
