// Flex box helper classes
.flex {
    display: flex;

    &.column {
        flex-direction: column;

        &.column-center {
            align-content: center;
        }

        &.column-space-between {
            align-content: space-between;
        }

        &.column-start {
            align-content: flex-start;
        }

        &.column-end {
            align-content: flex-end;
        }
    }

    &.center {
        justify-content: center;
    }

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.middle {
        align-items: center;
    }

    &.stretch {
        align-items: stretch;
    }

    &.top {
        align-items: flex-start;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.grow {
        flex-grow: 1;
    }
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}
