body.pc-gongsijianjie {
  .tab {
    width: 75px;
    // height: 20px;
    text-align: center;
    line-height: 30px;
    display: block;
    &.active {
      background: url(../image/icons/tab-bk.png) no-repeat 0 0;
      background-size: 100% 100%;
      color: $white;
    }
  }
  // pc
  &.pc {
    .section-top-banner {
      width: 100%;
      background-color: $white;

      .section-top-left {
        height: 50px;
        background-color: $blue-1;
        width: 150px;
        .logo {
          height: 30px;
          display: block;
        }
      }
      .section-top-middle {
        // margin-left: auto;
        position: absolute;
        right: 110px;
        font-size: 12px;
      }

      .section-top-right {
        height: 50px;
        margin-right: 25px;
        cursor: pointer;

        .search,
        .menu {
          cursor: pointer;
        }

        .search-group {
          height: 100%;
          overflow: hidden;

          .search-icon {
            height: 15px;
            width: 15px;
            display: block;
          }

          .search-box {
            visibility: hidden;
            position: relative;
            display: flex;
            width: 0;
            overflow: hidden;

            .search-input {
              height: 50px;
              line-height: 50px;
              font-size: 12px;
              width: 0;
              border: none;
              background: transparent;
              // padding: 0 0.25rem;
              color: $white;

              &:focus {
                border: none;
                box-shadow: none;
                outline: none;
              }
            }

            .close-icon {
              height: 15px;
              width: 15px;
              display: none;
            }
          }

          &.open {
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
            right: 60px;
            background-color: $white;

            > .search-icon {
              display: none;
            }

            .search-box {
              visibility: visible;
              width: 90%;

              .search-input {
                width: calc(100% - 25px * 2);
              }

              .search-icon,
              .close-icon {
                display: block;
              }
            }
          }
        }

        .menu-group {
          height: 100%;

          .open-menu-icon,
          .close-menu-icon {
            height: 15px;
            width: 15px;
            margin-left: 20px;
            // margin-right: 0.2rem;
            display: block;
          }

          .close-menu-icon {
            display: none;
          }

          .menu-list {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            background-color: $white;
            height: 0;
            overflow: hidden;
            z-index: -1;

            .menu-list-menu {
              position: relative;
              padding: 10px;
              /* padding-bottom: 0.24rem; */
              font-size: 12px;
              color: #000;
              line-height: 12px;
              letter-spacing: 0.3px;
              display: block;
              margin: 10px;
              border-bottom: 1px solid $black-5;
              opacity: 0;
              transform: translateY(30px);
            }
          }

          &.open {
            .open-menu-icon {
              display: none;
            }

            .close-menu-icon {
              display: block;
            }

            .menu-list {
              display: block;
              height: calc(100vh - 50px);
              z-index: 1111;

              .menu-list-menu {
                opacity: 1;
                transform: translateY(0px);
              }
            }
          }
        }
      }
    }

    .section-text-banner {
      &::before {
        content: "";
        background: url(../image/gongsijieshao/3.png) center no-repeat;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
      }
      height: 240px;
      position: relative;

      .section-banner-titles {
        // padding:0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        .section-banner-title {
          // font-size: 72px;
          color: $white;
          position: relative;
          padding-bottom: 50px;

          &:after {
            content: "";
            width: 60px;
            height: 7px;
            position: absolute;
            bottom: 2px;
            left: 0;
            display: block;
            z-index: 100;
            background-color: $white;
          }
        }
      }
    }
    //company-content
    .company-content {
      position: relative;
      // transform: translateY(-2px);
      min-height: 40vw;
      background-color: $blue-1;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        width: calc(100% + 500px);
        height: 100%;
        z-index: -1;
        left: -500px;
        background-color: $blue-1;
        min-height: 40px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -5%;
        background: $blue-1 url(../image/gongsijieshao/4.png) bottom no-repeat;
        background-size: cover;
        height: 35vw;
        width: 35vw;
        background-color: $white;
        display: block;
      }
      .description {
        width: calc(100% - 35vw);
        padding-bottom: 60px;
      }
    }
    .bus-introduce {
      position: relative;
      height: 500px;
      ul {
        margin: 0px;
        padding: 0;
        > li {
          font-size: 16px;
          list-style-position: inside;
          &::marker {
            color: $blue-1;
            font-size: 16px;
          }
          // list-style-type: none;
          margin: 15px 0;
        }
      }
    }
  }
}
